In [ ]:
## BASICS OF PYTHON

# 1- Case Sensitivity
# 2- Indentation
# 3- Line Continuation
# 4- Multiple statement in a single line
# 5- Understanding Sementics and type Inference
# 6- Single comment, Double comment, & Commenting

In [12]:
print('hello world')

hello world

In [13]:
1+1

2

In [14]:
## We can wirte any comment using 2 hash signs

In [20]:
## CASE SENSITIVITY - Python is case snesitive

name="mehdi"
Name="jaff"

## both are different considered as different identifiers unless we use same variables

print(name)
print(Name)

numb = 1
numb = 2+2

print(numb)

mehdi
jaff
4

In [26]:
## INDENTATION, Using " : " we can use indentation in python

price = 10+20
if price <= 30:
    print("Price is less than 30")
print(price)

Price is less than 30
30

In [29]:
## LINE CONTINUATION, Using " \ " we can continue the statement from the next line

total_budget = 7+5+5+\
72+94

print(total_budget)

183

In [30]:
## MULTIPLE STATEMENT IN A SINGLE LINE, Using " ; " we can write multiple statements

x = 10 ; y = 123 ; z = y - x
print(z)

113

In [38]:
 ## UNDERSTANDING SEMENTICS

age = 29
name = "Mehdi"
flo = 2.2

type(age)

int

In [39]:
type(name)

str

In [40]:
type(flo)

float

In [41]:
## TYPE INFERENCE

var = 10
print(type(var))
var = "mehdi"
print(type(var))

<class 'int'>
<class 'str'>