In [1]:
## VARIABLES

# 1- Declaring and assigning
# 2- Naming convention
# 3- Invalid variables
# 4- Understanding Variable types
# 5- Type checking and conversion
# 6- Dynamic typing 
# 7- Example : Calculator

In [3]:
## DECLARING VARIABLE & ASSIGNING

age = 22
name = "jaff"
height = 5.12
is_here = True

## printing  variables

print("age: ", age)
print("name: ", name)
print("height ", height)
print("Active: ", is_here)

age:  22
name:  jaff
height  5.12
Active:  True

In [1]:
## NAMING  CONVENTION, How to declare variable names

## 1-Variables should be descriptive
## 2-They must start with letter of " _ " and contains letter, numbers, underscores
## 3-They nust be case sensitive

first_name = "mehdi"
last_name = "jaff"

In [5]:
# INVALID VARIABLES NAME

## 1- 2age = 30
## 2- first-name = "mehdi"
## 3- @name = "jaff"

In [6]:
## UNDERSTANDING VARIABLE TYPES

## Python is dynamically typed, type of variable is determined at runtime

age = 22 #int
height = 5.12 #float
first_name = 'jaff' #str

In [8]:
## TYPE CHECKING AND CONVERSION, Can we change from one data type to another

print(type(age))
print(age)

age_str = str(age)
print(type(age_str))

<class 'int'>
22
<class 'str'>

In [2]:
# Converting string into integer

height='50'
print(int(height))
print(type(int(height)))

50
<class 'int'>

In [14]:
# Converting float into integer

flo = 2.3
print(int(flo))
print(type(int(flo)))
float(int(flo))

2
<class 'int'>

2.0

In [15]:
## DYNAMIC TYPING 
## Python allows the type of a variable to change as the program executes

# we can use same variable throughout the program by assigning different data types. 

var = 10
print(var,type(var))

var = 'jaff'
print(var,type(var))

var = 1.2
print(var,type(var))

10 <class 'int'>
jaff <class 'str'>
1.2 <class 'float'>

In [3]:
## For exaple, If we take input from the user

what_age = int(input("Enter your age"))
print(what_age, type(what_age))

45 <class 'int'>

In [4]:
## For example, Create a calculator

# taking input

num1 = float(input("Enter First Number"))
num2 = float(input("Enter Second Number"))

# Arthimetic Operations

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
quotient = num1 / num2

# Displaying

print("Sum", addition)
print("Sub", subtraction)
print("Multiply", multiplication)
print("Division", quotient)

Sum 901.0
Sub -793.0
Multiply 45738.0
Division 0.06375442739079103