In [ ]:
## TUPLES

# 0- Creating Tuples and list
# 1- Accessing tuples 
# 2- Immutable nature of Tuples
# 3- Tuples methods
# 4- Packing and Unpakcing Tuples
# 5- Nested List & Tuples

In [ ]:
## TUPLES - Ordered collection of items that are immutable, they are similar to lists but their immutability make them different.

## CREATING TUPLES AND LIST

empty_tuples = ()
print(empty_tuples)

print(type(empty_tuples))

()
<class 'tuple'>

In [ ]:
lst = list()                    # You can create empty list by list() function
print(type(lst))

tpl = tuple()                   # You can create empty tuple by tuple() function                 
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
## Converting list into tuple and vice versa

numb_tpl = tuple([1,2,3,4,5,6,7])
numb_tpl                                # into tuple

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
numb_lst = list(numb_tpl)
numb_lst                                # into list

[1, 2, 3, 4, 5, 6, 7]

In [6]:
mxd_tpl = (1,"Mehdi",True,2.1)
mxd_tpl

(1, 'Mehdi', True, 2.1)

In [ ]:
## ACCESSING TUPLES

numb_tpl = tuple([1,2,3,4,5,6,7])

print(numb_tpl[2])
print(numb_tpl[:3])
print(numb_tpl[::-1])
print(numb_tpl[::])

3
(1, 2, 3)
(7, 6, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5, 6, 7)

In [ ]:
## TUPLES OPERATIONS

conc_tpl = mxd_tpl + numb_tpl                   # Concatenation of Tuples
print(conc_tpl)

(1, 'Mehdi', True, 2.1, 1, 2, 3, 4, 5, 6, 7)

In [16]:
mxd_tpl * 2                                     # Appending 2 times or Repeatition
numb_tpl * 3

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [ ]:
## IMMUTABLE NATURE OF TUPLES - Immutable means once elements get assigned they cannot be changed

lst = [1,2,3,4,5]
print(lst)

lst[3] = 'Mehdi'
print(lst)                      # List items can be changed or replaced

[1, 2, 3, 4, 5]
[1, 2, 3, 'Mehdi', 5]

In [ ]:
mxd_tpl[1] = 'Jaffari'          # Items cannot be changed
mxd_tpl

TypeError: 'tuple' object does not support item assignment

In [31]:
## TUPLES METHODS

numb_tpl = tuple([1,1,1,2,3,4,5,6,7])

print(numb_tpl.count(1))                # 1 ko count kar rha he ke kitne available hein tuple me
print(numb_tpl.index(2))                # 2 Konse index pr he ye bataraha he index function

3
3

In [ ]:
## PACKING UNPACKING TUPLES

packed_tpl = 1,'Mehdi',True,2.2             # It will pack the tuple automatically
print(packed_tpl)

(1, 'Mehdi', True, 2.2)

In [ ]:
a,b,c,d = packed_tpl                        # Unpacking the tuples
print(a,b,c,d)

1 Mehdi True 2.2

In [ ]:
numb_tpl
first,*middle,last = numb_tpl               # Unpacking with star *

print(first,middle,last)

1 [1, 1, 2, 3, 4, 5, 6] 7

In [ ]:
## NESTED TUPLES & LIST

# Nested List

lst = [[1,2,3],[4,5,6],['Mehdi',True,2.3]]
print(lst[0])                                      # Accessing List Index item
print(lst[1][0])
print(lst[2][0])

lst = [[1,2,3],[4,5,6],('Mehdi',True,2.3)]         # You can access tuple (tuple's items) within list items
print(lst[2][2])

[1, 2, 3]
4
Mehdi
2.3

In [46]:
# Nested tuples

tpl = (('Mehdi',2,3,4,5),(1,True,'Jaffari'))      
print( tpl[0][0] + ' ' +tpl[1][2] )

Mehdi Jaffari

In [51]:
# Iterating over nested tuples

for ntpl in tpl:
    for itm in ntpl:
        print(itm,end=' ')
    print()

Mehdi 2 3 4 5
1 True Jaffari