In [1]:
## LOOPS

# 0- Range Method
# 1- For loop
# 2- While Loop
# 3- Loop Control Statement - Break, Continue, Pass
# 4- Nested Loops
# 5- Examples

In [11]:
## RANGE METHOD

print(range(5))

range(0, 5)

In [12]:
print(range(1,10))

range(1, 10)

In [13]:
for i in range(1,10,2):         ###(start,stop,step) if step is 2 means, har 2 digit ke bad digit show ho
    print(i)

1
3
5
7
9

In [4]:
## FOR LOOP - it is used to print sequence of numbers

for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [19]:
str = "MEHDI JAFF"

for i in str:
    print(i)

M
E
H
D
I

J
A
F
F

In [22]:
## WHILE LOOP - it executes as long as the condition is true

count = 0

while count<=5:
    print(count,"Iterated")
    count=count+1

0 Iterated
1 Iterated
2 Iterated
3 Iterated
4 Iterated
5 Iterated

In [34]:
## LOOP CONDITIONAL STATEMENTS - it executes as long as the condition is true

# BREAK STATEMENT - exits the loop prematurely

for i in range(10):
    if i==5:
        print("Breaked at",i)
        break
    print(i)

0
1
2
3
4
Breaked at 5

In [35]:
# CONTINUE STATEMENT - skips the current iteration and continues with the next one

for i in range(10):
    if i%2==0:
        print("Even at",i)
        continue
    print(i)

Even at 0
1
Even at 2
3
Even at 4
5
Even at 6
7
Even at 8
9

In [36]:
# PASS STATEMENT - its a null statement, it do nothing just pass

for i in range(5):
    if i==2:
        print("Do nothing at",i)
        pass
    print(i)

0
1
Do nothing at 2
2
3
4

In [39]:
## NESTED LOOPS - Loops inside a loop

for i in range(3):
    for j in range(2):
        print(f"a={i} and b={j}")

a=0 and b=0
a=0 and b=1
a=1 and b=0
a=1 and b=1
a=2 and b=0
a=2 and b=1

In [42]:
## FOR EXAMPLES

# Calculate the sum of first 10 natural numbers using while loops

n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("Sum:" ,sum)

Sum: 55

In [47]:
# Calculate the sum of first 10 natural numbers using for loops

n=10
sum=0

for i in range(11):
    sum=sum+i


print("Sum:",sum)

Sum: 55

In [52]:
# Prime numbers between 1 - 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97